:root {
  --main: white;
  --primary: #4263EB;
  --modal-title-color: #334D6E;
  --modal-text-color: #495057;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__window {
  background-color: var(--main);
  width: 80%;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 40px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal__open {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  min-width: 189px;
  font-weight: 500;
  text-align: center;
  color: var(--main);
  background: var(--primary);
  border-radius: 8px;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--modal-title-color);
}

.modal__text {
  color: var(--modal-text-color);
}