* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

header {
  background: rgb(120, 151, 219);
}

header h1 {
  padding: 2rem;
}

nav {
  background: rgb(135, 170, 247);
}

nav div {
  display: inline-block;
  margin: 1rem;
}

main {
  background: rgb(230, 237, 253);
  padding: 1rem;
  height: 70vh;
}

article {
  background: rgb(177, 199, 247);
  margin: 1rem;
  padding: 2rem;
}

ul,
ol {
  margin-left: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
}

footer {
  background: rgb(135, 170, 247);
  position: relative;
  bottom: 0;
  padding: 2rem;
}
