.histogram__text {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
}

.histogram__link {
  text-decoration: none;
}

.histogram__subtitle {
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  line-height: 26px;
}


.histogram {
  padding: 24px;
  border: 1px solid #ACB5BD;
  box-sizing: border-box;
  border-radius: 8px;
}

.raw {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: flex-end;
}

.histagram__rectangle {
  width: 100%;
  margin-right: 1px;
  background: #4263EB;
}

.histagram__rectangle:last-child {
  margin-right: 0;
}

.link-wrapper {
  margin-top: 3px;
}