@import url('../tooltip.css');
@import url('../modal.css');
@import url('../avatar.css');
@import url('../calendar.css');
@import url('../histogram.css');

:root {
  --main-text-color: #212429;
  --modal-title-color: #334D6E;
  --modal-text-color: #495057;
  --main: white;
  --main-container-bg-color: #F9FAFC;
  --primary: #4263EB;
  --secondary: #7048E8;
  --text-into-primary: #DDE2E5;
  --calendar-day-text: #90A0B7;
  --border: #ACB5BD;
  --active-link: #D84910;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main);
}

.main-page__header {
  padding: 96px 160px 77px 160px
}

.main-page__main {
  min-height: calc(100vh - 237px - 384px);
  background: var(--main-container-bg-color);
  padding: 68px 165px;
}

.main-page__footer {
  position: relative;
  padding-top: 74px;
  padding-bottom: 136px;
  bottom: 0;
  text-align: center;
}

.main-page__header-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
}

.main-page__footer-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
}

.main-page__footer-text {
  max-width: 640px;
  margin: 32px auto;
}

.flex__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flex__container {
  width: 33.33%;
  min-width: 350px;
  padding: 15px;
}

.flex__card {
  background: var(--main);
  width: 100%;
  height: 367px;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  position: relative;
}

.flex__card-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 21px - 30px);
  padding: 24px;
}

.flex__card-title {
  position: absolute;
  font-weight: 500;
  font-size: 21px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  bottom: 30px;
}