@import url('../tooltip.css');
@import url('../modal.css');
@import url('../avatar.css');
@import url('../calendar.css');
@import url('../histogram.css');
@import url('../logo.css');
@import url('../container.css');
@import url('../border.css');

:root {
  --main-text-color: #212429;
  --modal-title-color: #334D6E;
  --modal-text-color: #495057;
  --main: white;
  --main-container-bg-color: #F9FAFC;
  --primary: #4263EB;
  --secondary: #7048E8;
  --text-into-primary: #DDE2E5;
  --calendar-day-text: #90A0B7;
  --border: #ACB5BD;
  --active-link: #D84910;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main);
}

.calendar__wrapper {
  max-height: 250px;
  overflow: scroll;
}

.main-page__header {
  height: 237px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-template-rows: repeat(auto-fill, minmax(230px, auto));
  grid-gap: 16px;
}

.card {
  background: var(--main);
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-height: 374px;
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card__footer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2px;
  max-width: 100%;
  overflow: hidden;
}

.main-page__main {
  background: var(--main-container-bg-color);
}

.main-page__footer {
  display: none;
  position: relative;
  padding-top: 74px;
  padding-bottom: 136px;
  bottom: 0;
  text-align: center;
}

.main-page__header-title {
  font-size: 28px;
  line-height: 38px;
}

.main-page__footer-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
}

.main-page__footer-text {
  max-width: 640px;
  margin: 32px auto;
}


@media (min-width: 1200px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    grid-gap: 30px;
    margin: 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .main-page__footer {
    display: block;
  }

  .main-page__header-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
  }

  .card-title {
    font-size: 21px;
  }
}