.histogram {
  width: 100%;
  padding: 24px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 8px;
}

.histogram__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.histogram__link {
  text-decoration: none;
}

.histogram__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}

.histogram__info {
  display: flex;
  justify-content: space-between;
}

.histogram__container {
  display: flex;
  align-items: flex-end;
}

.histagram__rectangle {
  width: 100%;
  margin-right: 1px;
  background: var(--primary);
}

.histagram__rectangle:last-child {
  margin-right: 0;
}

.link-wrapper {
  margin-top: 3px;
}