:root {
  --modal-title-color: #334D6E;
  --calendar-day-text: #90A0B7;
  --primary: #4263EB;
  --text-into-primary: #DDE2E5;
  --border: #ACB5BD;
}

.calendar {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 28px 30px 40px 30px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 28px 30px 40px 30px;
}

.calendar__mounth {
  color: var(--modal-title-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.calendar__day-name {
  color: var(--calendar-day-text);
  margin-bottom: 24px;
}

.calendar__day-name,
.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__grid-item {
  padding: 8px 11px;
  color: var(--modal-title-color);
}

.calendar__grid-item:first-child {
  grid-column: 5;
}

.calendar__grid-item:nth-child(18),
.calendar__grid-item:nth-child(23) {
  background: var(--primary);
  color: var(--text-into-primary);
}


.calendar__grid-item:nth-child(19),
.calendar__grid-item:nth-child(20),
.calendar__grid-item:nth-child(21),
.calendar__grid-item:nth-child(22) {
  background: rgba(160, 177, 245, .2)
}